SUPABASE_URL=https://vzybfxcfnwjrmwufxppt.supabase.co
SUPABASE_KEY=seyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6eWJmeGNmbndqcm13dWZ4cHB0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MDQ2ODQsImV4cCI6MjA4ODk4MDY4NH0.F726csTm6Z9e2eYHEFm4jDGx6rOjB_v1TeGb41yrUu8
GEMINI_API_KEY=AIzaSyA_IGUHvcqsxMh_4kxhQ23453b3BkXI1eU
